{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDI {% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% block css %}
    {% endblock %}
</head>

<body>
    {% include 'partials/navbar.html' %}

    <div class="container" id="content-container">
        {% block content %}
        {% endblock %}
    </div>


    {% include 'partials/footer.html' %}
    {% block javascript %}
    {% endblock %}

</body>

</html>